    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    main{
      display: flex;
    }
    body{
      background-color: #A0A7B2;
    }
    .middle{
      display:inline;
      overflow: hidden; 
      white-space: nowrap;
      margin: 10px;
    }
    .container{
      text-align: center;
      align-content: center;
      justify-content: center;
      border: 15px solid #A0A7B2;
      border-radius: 35px;
      width: 100%;
      margin: 20px auto;
      background-color: #BD897E;
    }
    .containerimg{
      text-align: center;
      border: 5px solid #A0A7B2;
    }
    .featured{
      border-radius: 35px;
      margin: 30px;
      padding: 10px;
      width: 230px;
      /*height: 340px;*/
      background-color: #D0AEA2;
    }
    header{
      background-color: #BD897E;
      border-radius: 25px;
      text-align: center;
      font-family: 'Libre Baskerville', serif;
    }
    a{
      font-family: 'Libre Baskerville', serif;
      color: aliceblue;
      text-decoration: none;
      display: block;
    }
    .pic{
      width: 90%;
      align-content: center;
      justify-content: center;
      border-radius: 100%;
    }
    div .descr{
      font-size: 30px;
      align-content: center;
      justify-content: center;
    }
    .list-group{
      font-size: 20px;
    }
    div .descr h3{
      font-family: 'Libre Baskerville', serif;
    }
    nav{
      /*background-color: #95A78D;*/
      border-radius: 25px;
    }
    ul{
      text-align: center;
      list-style-type: none;
    }
    li .details{
      display: inline-block;
      line-height: 2em;
      border-radius: 15px;
    }
    .topbar li{
      display: inline-block;
      width: 150px;
      border: 2px solid white;
      line-height: 3em;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      border-radius: 15px;   
    }
    img{
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
    img:hover{
      opacity: 0.3;
      transition: opacity .55s ease-in-out;
    }​
    img .descr{
      opacity: 0;
    }
    img:hover .descr{
      opacity: 1;
    }
    .more{
      border-radius: 15px;
      background-color: #B0C4DE;
      color: black;
      text-align: center; 
      font-size: 20px;
      font-weight: bold;
      margin: 30px;
      padding: 10px;
      width: 250px;
      display: inline-block;
      border: 2px solid white;
    }
    .more:hover{
      color: white;
    }
    #footer{
      background-color: #B0C4DE;
      color: black;
      text-align: center; 
    }

